/* demo styles */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background:  #0abab5;
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}

table {
    font-family: 'Arial';
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #00cccc;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  }
  table tr:hover {
    background: #f4f4f4;
  }
  table tr:hover td {
    color: #555;
  }
  table th, table td {
    color: #555;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
  }
  table td{
      background-color: #fff;
  }
  table th {
    background: #397BFF;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
  }
  table th.last {
    border-right: none;
  }
